Source: simplestreams
Section: python
Priority: extra
Standards-Version: 3.9.4
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 7),
               python3,
               python3-nose,
               python3-setuptools,
               python3-yaml
X-Python3-Version: >= 3.2

Package: simplestreams
Architecture: all
Priority: extra
Depends: python3-simplestreams, ${misc:Depends}, ${python3:Depends}
Replaces: python-simplestreams (<= 0.1.0~bzr230)
Conflicts: python-simplestreams (<= 0.1.0~bzr230)
Description: Library and tools for using Simple Streams data
 This package provides a client for interacting with simple
 streams data as is produced to describe Ubuntu's cloud images.

Package: python3-simplestreams
Architecture: all
Priority: extra
Depends: gnupg, python3-requests (>= 0.8.2), ${misc:Depends}, ${python3:Depends}
Description: Library and tools for using Simple Streams data
 This package provides a client for interacting with simple
 streams data as is produced to describe Ubuntu's cloud images.
